@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap');
body {
	font-family: sans-serif; 
}
* {
	margin: 0;
   padding: 0; /*обнуляємо стилі */ 
} 
header{
    background-image:url("https://kiyavia.com/files/travel-provider/Ukraine_63_1920_2-min.jpg") ;
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.flex-item{
	width: 300px;
	height: 60px;
	background-color: #fff;
	margin-top: 175px;
}	

.text-item{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100px;
	font: 1.2em sans-serif;
}

.text-name{
    position: absolute;
    top: 20%;
    left: 40%;
    color: #381f06; 
    font-family: 'Commissioner', sans-serif;
	font-size: 2em;

        
}
.img-item{
    display: flex;
    justify-content:center;
    width: 100%;
    column-gap: 30px;  
}
h4,h3{
	margin: 20px auto 30px auto;
	width: 68%;
	text-align: justify;
}

.title-item > h3{
	font: 1.6em sans-serif;
	font-weight: 600;
}

.foto-trip{
    width: 300px;
}
img{
	width: 300px;
	height: 300px;
}
img:hover{
    transform: scale(1.1); /* збільшення картинки*/
    transition: transform 0.25s;
    opacity: 60%;
}
.search{
	display: flex;
	justify-content: center;
}
.foto-text{
	width: 100%;
}
p{
	text-align: justify;
}

h2{
	font: 1.4em sans-serif;
	font-weight: 600;
	padding: 10px 0 10px 0;
	margin: 0 auto;
}

ul {
    list-style-type: none; /*забираємо маркери*/
}
nav{
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.menu{
	display: flex;
	flex-wrap:wrap;
}

a {
	text-decoration: none;
	display: block; 
	color: #ffffff;
	background-color: rgba(24, 137, 30, 0.5);;
	padding: 0.8em; /* збільшуємо зону кліку по кнопці */
	white-space: nowrap; /* не дозволяє робити переноси слів */
}
.menu > li {
	padding-left: 10px; /* відступи між кнопками  */
}
a:hover {
	background-color: #f2bcbc;
}

.menu__submenu > li{    /* розмір 100% вкладеного списку */
	width: 100%;
}

.menu__submenu {
	position: absolute;
	display: none;
}

li {
	position: relative;
	width: 150px;
}
li:hover .menu__submenu {
	display: block; /*відображаємо підменю */
}

/* -----медіа-запити для iPad, планшети (ориентація екрана Portrait та Landscape) ----------- */
@media only screen
and (min-device-width: 480px)
and (max-device-width: 1024px) 

{
	/* ваші CSS-стили тут */
    header{
        width: 100%;
        height: 60vh;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
   
    .img-item{
        display: flex;
        justify-content:center;
        width: 100%;  
        flex-wrap:wrap;
	}
	.foto-trip{
	margin: 10px;
	min-width: 300px;
	}
	.text-name{
		position: absolute;
		top: 20%;
		left: 30%;
}

/* ----- Смартфони (ориентація экрана Portrait и Landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
	header{
        width: 100%;
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .img-item{
        display: flex;
        justify-content:center;
        width: 100%;  
        flex-wrap:wrap;
	}
	.foto-trip{
	margin: 10px;
	min-width: 200px;
	}
	.text-name{
		position: absolute;
		top: 10%;
		left: 20%;
}
